  body {
  	background-color: white;
  	font-family: 'imapct' , fantasy;
  }

  h1{
  	border:5px;
  	position:relative;
  	text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  p{
  	color: red;
  	font-size: 15;
  	line-height: 40px;
  	font-style: italic;
   }

   th{
   	
   	text-decoration-color: grey
   	font-style:italic;
   	padding: 15px;
   	color:white;
   	background-color: #4CAF51;

   }

   td{
   	text-align: left;
   	text-decoration-color: grey
   	font-style:italic;
   	padding: 15px;

   }

   h3{
   	text-align: center;
   	border:5px;
   	line-height: 40px 
   	font-size:50;
   }

   p{
   	font-style: oblique;
   	color: red;
   	line-height: 40px;

   }
   ol{
   	color: green;
   	font-family: "Times New Roman", Times, serif;
   }


   input[type=text] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border-radius: 4px;
   }
   h3{
   	text-align: center;
   	border:5px;
   	line-height: 40px 
   	color:black;
   }
   .fa {
     padding: 20px;
     font-size: 30px;
     width: 50px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%
   }

   /* Add a hover effect if you want */
   .fa:hover {
     opacity: 0.7;
   }

   /* Set a specific color for each brand */

   /* Facebook */
   .fa-facebook {
     background: #3B5998;
     color: white;
   }

   /* Twitter */
   .fa-twitter {
     background: #55ACEE;
     color: white;
   }


   body {font-family: Arial, Helvetica, sans-serif;}
   * {box-sizing: border-box;}

   .open-Button{
    background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    
   }

   .form-popup{
    display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
   }

   .form-container{
    max-width: 300px;
      padding: 10px;
      background-color: white;
   }


   .form-container textarea{
    width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 200px;
   }

   .form-container textarea:focus {
    background-color: #ddd;
      outline: none;
   }

   .form-container .btn{
    background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
   }

   .form-container .cancel{
    background-color: red;
   }

   form-container .btn:hover, .open-button:hover {
     opacity: 1;